@import "~normalize.css";
@import "./variables";
@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: 12px;
  color: #888;
}

h1 {
  background: rgba(255, 255, 132, .5);
}
